<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{description}}</p>

  <p>Created by {{user.name}} on {{format_date date_created}}</p>

  <br>

  <!-- {{#if post.comments.length}} -->
  {{#if comments.length}}
    <div class="col-md-6 post-list">
      <h3>Current comments:</h3>

      {{#each comments as |comment|}}
      <div class="row mb-2">
        <div class="col-md-8">
          <p>{{comment.content}}</p>
        </div>
        <br><br>
      </div>
      {{/each}}
    </div>
  {{/if}}

</div>

<div class="text-center">
  <!-- <button type="button" class="btn btn-primary" id="add-comment">Add Comment</button> -->

  <h3>Add a new comment:</h3>

    <form class="form new-comment-form">
      
      <div class="form-group">
        <label for="comment">Your comment below:</label>
        <textarea class="form-input" id="comment-text" name="comment-text"></textarea>
      </div>
      <div class="form-group">
        <!-- <button type="submit" class="btn btn-primary" data-id="{{post.id}}">Submit</button> -->
        <button type="submit" class="btn btn-primary" data-id="{{id}}">Submit</button>
      </div>
    </form>

  <br><br><br>

  <p>Inside: post-detail.handlebars</p>
  
</div>

<script src="./js/comment.js"></script>


