<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{content}}</p>

  <!-- The following was returning an invalid date.  Note that since we are not iterating 
  over an array of posts like {{#each posts as |post| }}, referrencing the post.date_created
  is an invalid referrence.  

  Each object that is delivered to this page, is a single (post object).  Here is the runtime
  log after executing {router.get('/post/:id'} before this page is loaded:

  Cleanded up post:  {
        id: 1,
        title: 'Why MVC is so important',
        content: 'MVC allows developers to maintain a true separation of concerns, devising their code between the Model layer for data, the View layer for design, and the Controller layer for application logic.',
        date_created: 2024-08-14T21:49:22.217Z,
        user_id: 2,
        user: {
          id: 2,
          name: 'Sal',
          password: '$2b$10$3OLJCwFzNSpcPYs8riP5DOkN9vWyeWiy1C8VnjrorgKPGx7.n2Up2'
        },
        comments: []
      } -->
  <!-- <p>Created by {{user.name}} on {{format_date post.date_created}}</p> -->
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

  <br>

  <p>Inside: post-detail.handlebars</p>

</div>
